#client-bottombar {
	display: flex;
    min-height: 28px;
    max-height: 28px;
	justify-content: space-between;
    align-items: center;
}

#bottombar-version {
	display: flex;
    margin: auto 5px;
}

#bottombar-version label {
    font-size: 0.9em;
}

#bottombar-version-ver {
    font-weight: bold;
}

#bottombar-bottomright {
    float: right;
    margin-right: 5px;
}

#bottombar-bottomright img {
    cursor: pointer;
    width: 24px;
    height: 24px; 
}

#bottombar-icon-back {
    display: none;
}