#client-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

#client-topbar {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

#client-content {
    display: flex;
    flex-grow: 100;
}

#client-content-left {
    width: 25%;
    display: flex;
/*    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;*/
    background: #242424;
}

#client-content-center {
    display: flex;
    width: 75%;
/*    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;*/
    background: #161616;
}

#client-bottombar {
    display: flex;
    width: 100%;
}