.selectize-input {
  width: 175px !important;
  background-image: none !important;
  background: #161616 !important;
}  

.selectize-input, .selectize-dropdown .option {
	padding-left: 6px !important;
}

.selectize-input:hover {
  border-color: white !important;
}

.selectize-input input {
    color: transparent !important;
}