#login-wrapper {
	background-color: black;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: -1;
}

#login-container {
	display: inline-block;
	margin: 50px auto;
}

#login-logo {
	width: 300px;
}

#login-exit {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 32px;
	cursor: pointer;
}

#login-exit:hover {
	background: #323232;
}

#login-forgot {
	margin-top: 5px;
	margin-left: 5px;
	float: left;
}

#login-login {
	margin-top: 7px;
	margin-right: 5px;
	float: right;
	/*text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;*/
}

#login-wrap2 {
	margin-top: 10px;
}