#settings-content {
    display: none;
    margin: 10px;
}

.settings-tab-header {
    display: block;
    font-size: 1.25em;
    margin-bottom: 25px;
}

.settings-tab-section {
    margin-bottom: 20px;
}

.settings-tab-section label:first-child {
    display: block;
    margin-bottom: 10px;
}
