#settings-content {
    display: none;
    margin: 10px;
}

.settings-tab-content {
	display: none;
}

#settingsContentGeneral {
	display: block;
}

.settings-tab-header {
    display: block;
    margin-bottom: 15px;
}

.settings-tab-section {
	margin-top: 20px;
    margin-bottom: 20px;
}

.settings-tab-section > label:first-child {
    display: block;
    margin-bottom: 10px;
}

.settings-installations-header > img {
	width: 18px;
	height: 18px;
	margin-right: 3px;
}

.settings-installations {
	margin-bottom: 5px;
}

.settings-installations-directory-template {
	display: flex;
	width: 100%;
}

.settings-installations-header {
	margin-bottom: 5px;
}

.settings-installations-directory-index {
	line-height: 100%;
	vertical-align: middle;
}

.settings-installations-directory-path { 
	height: 24px;
	font-size: 10pt;
	flex-grow: 999;
	margin-left: 5px;
}

.settings-installations-actions {
	margin-left: 7px;
}

.settings-installations-actions img {
	width: 15px;
	height: 15px;
	margin-left: 3px;
	cursor: pointer;
}

.settings-addInstallation {
	display: inline-block;
	cursor: pointer;
}

.settings-addInstallation > * {
	cursor: pointer;
}

.settings-addInstallation img {
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.settings-addInstallation label {
	vertical-align: middle;
}








