#client-topbar {
    min-height: 40px;
    max-height: 40px;
    -webkit-app-region: drag;
    justify-content: space-between;
}

.topbar-header, #main-topbar-controls > * {
    -webkit-app-region: no-drag;
}

#main-topbar-topleft {
    display: inline-flex;
}

#main-topbar-logo {
    margin-left: 5px;
    margin-top: 3px;
    max-width: 100px;
}

#main-topbar-headers {
}

.topbar-header {
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 1.2em;
    color: #646464;
    vertical-align: top;
}

.topbar-header[data-selected="true"] {
    color: #CCC;
}

.topbar-header:hover {
    color: #CCC;
}

#main-topbar-controls {
    float: right;
}

#main-topbar-controls > .main-topbar-control {
    width: 32px;
    cursor: pointer;
}

#main-topbar-controls > .main-topbar-control:hover {
    background: #323232;
}