$color-top: #161616;
$color-bottom: #161616;
$selectize-color-text: #CCC;
$selectize-arrow-color: #CCC; 
$selectize-color-input: #CCC;
$selectize-color-dropdown: #161616;
$selectize-color-dropdown-item-active: #484848;
$selectize-color-dropdown-item-active-text: #CCC;
$selectize-padding-y: 0px;
$selectize-padding-x: 0px;
$selectize-line-height: 25px;
$selectize-arrow-size: 7px;